$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Nunito Sans', sans-serif;

$color-primary : #16133D;
$color-secondary: #007FFC;
$color-tertiary: #7690A8;

$color-red: #F04D5D;
$color-green: #52C29D;

$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;