.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #EFEEF3;
    padding-top: 3.2rem;
    padding-bottom: 3.8rem;
}

.navigation-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: 7rem;

    @media (max-width: 1200px) {
        display: none;        
    }
}

.navigation-item {
    margin: 0 3rem;
}

.navigation-link {
    color: $color-primary;
    text-decoration: none;
    padding: .7rem 0;
    font-weight: 600;
    border-bottom: 4px solid transparent;
    transition: all .2s;
    &:hover {
        border-bottom: 4px solid $color-primary;
    }
}

.navigation-logo {
    img {
        width: 100%;
    }
    @media (max-width: 550px) {
        width: 30%;        
    }
}